.idea
.DS_Store
venv
source/core/infrastructure/http/__pycache__
source/core/infrastructure/http/__pycache__
source/core/application/factories/__pycache__
source/core/application/services/__pycache__
source/core/infrastructure/http/action/__pycache__